<style>
  h3{
   text-align:left;
    font-size:23px;
    font-weight:bold;
    color:#12521f;
  }
  p{
    color:#15842b;
    font-size:18px;
    font-weight:lighter;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    margin:auto;
    text-align:justify;
    line-height:17pt;"
   }
</style>
